html,
body {
  height: 100%;
  background-color: rgb(250, 250, 250);
}

body {
  font: 14px/20px Helvetica;
}

header {
  margin: 0;
  padding: 1px;
  background-color: rgb(36, 42, 46);
}

section,
nav,
main,
footer {
  margin: 5px;
  padding: 10px;
  display: block;
  color: black;
}

p {
  margin: 10px;
  padding: 5px;
  text-align: justify;
}

header img {
  width: 100px;
}

.contact-info {
  float: left;
  margin-left: 15px;
  padding: 20px;
  width: 45%;
  box-shadow: 3px 3px 5px rgb(19, 14, 17);
  border: 1px solid grey;
  border-radius: 6px;
}
.contact-info h1 {
  font-size: 1.3em;
  background: linear-gradient(-45deg, #fee864, #f5965e);
  color: #f4f4f4;
  text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575,
    4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161,
    8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d,
    18px 18px 30px rgba(0, 0, 0, 0.4), 18px 18px 10px rgba(0, 0, 0, 0.4);
}

.main-info {
  display: block;
  clear: both;
}

section h2 {
  font-size: 1.3em;
  color: azure;
  background: linear-gradient(-45deg, #fee864, #f5965e);
  color: #f4f4f4;
  text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575,
    4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161,
    8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d,
    18px 18px 30px rgba(0, 0, 0, 0.4), 18px 18px 10px rgba(0, 0, 0, 0.4);
}
aside {
  float: right;
  width: 40%;
  box-shadow: 3px 3px 5px rgb(120, 128, 128);
  border-radius: 5px;
  border: 1px solid rgb(10, 48, 10);
  padding: 0;
}

figcaption {
  font-style: italic;
  width: 100;
}
img {
  height: 100%;
  width: 100%;
}
footer {
  clear: both;
  color: black;
  border: 1px solid grey;
  border-radius: 1px;
  padding: 1px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 6px;
}
footer ul li {
  display: inline;
}
